nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid yellow;
    list-style: none;
}

img {
    margin: 0 35%;
}




nav > p {
    position: relative;
    bottom: 100%;
    color: blue;
    vertical-align: text-top;
}
