:root {

    font-size: 1rem;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid yellow;
    list-style: none;
    width: 100%;
    height: 50%;
}

ul > li {
    vertical-align: middle;
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
}

ul > img {
    margin: 0 20%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/*
main > h1 {
    padding-left: 35%;
}
*/
/*
main > p {
    text-align: justify;
    width: inherit;
    padding: 0 auto;
}
*/

.alan_guth > img {
    width: 100%;
}

.alan_guth {
    max-width: 70%;
    position: relative;
    align-self: center;
}

.alan_guth > p {
    position: absolute;


    text-align: start;
}
